<!DOCTYPE html>
<html>
<head>
    <title>Wake-On-LAN</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="top">
        <div class="banner">
            <h1 class="banner-title">Wake-On-LAN</h1>
            <div class="login-form">
                {% if session.logged_in %}
                    <form class="logout-form" action="{{ url_for('logout') }}" method="post">
                        <input class="logout-button" type="submit" value="Logout">
                    </form>
                {% else %}
                    <form action="{{ url_for('login') }}" method="post">
                        <input class="login-input" type="text" id="username" name="username" placeholder="Username" required>
                        <input class="login-input" type="password" id="password" name="password" placeholder="Password" required>
                        <input class="login-button" type="submit" value="Login">
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Ajouter un hôte</h1>
        <form action="{{ url_for('add_host') }}" method="post">
            <input type="text" id="nom" name="nom" placeholder="Nom" required>
            <input type="text" id="ip" name="ip" placeholder="IP" required>
            <input type="text" id="mac" name="mac" placeholder="MAC" required>
            <input type="submit" value="Ajouter">
        </form>
    </div>

    <table>
        <tr>
            <th>Nom</th>
            <th>IP</th>
            <th>MAC</th>
            <th>Status</th>
            <th>Wake-On-LAN</th>
            {% if session.logged_in %}
                <th>Actions</th>
            {% endif %}
        </tr>
        {% for host in hosts %}
            <tr>
                <td>{{ host.nom }}</td>
                <td>{{ host.ip }}</td>
                <td>{{ host.mac }}</td>
                <td class="{{ check_host_status(host.ip)|status_class }}">
                    {% if check_host_status(host.ip) %} ONLINE {% else %} OFFLINE {% endif %}
                </td>
                <td>
                    {% if check_host_status(host.ip) %}
                        <form action="{{ url_for('wake_on_lan', ip=host.ip) }}" method="get">
                            <input type="submit" value="Shutdown">
                        </form>
                    {% else %}
                        <form action="{{ url_for('wake_on_lan', ip=host.ip) }}" method="get">
                            <input type="submit" value="WOL">
                        </form>
                    {% endif %}
                </td>
                {% if session.logged_in %}
                    <td>
                        <form action="{{ url_for('update_host', host_id=host.id) }}" method="get">
                            <input type="submit" value="Configuration">
                        </form>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>